# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
dist/
install/
*.egg-info/
*.egg

# Project specific
storage/

# PyInstaller
*.manifest
*.spec

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini 